
input {
    visibility: hidden;
}

input:checked ~ label {
    background-image: url("/img/star.png");
    background-size: 100%;
}

input:hover ~ label {
    background-image: url("/img/star.png");
    background-size: 100%;
}

.star-row {
    display: flex;
    flex-direction: row-reverse;
}

.star-row img{
    max-width: 100%;
    height: auto;
}